@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,200;1,300&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #f9f9f9;
  color: #000;
}

nav {
  display: flex;
  justify-content: space-between;
  margin: 4px;
  padding: 10px;
  background-color: #005eff;
  border-radius: 4px;
}

.logo {
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  border-bottom: 2px solid #999;
  padding: 0;
  font-weight: 500;
  display: flex;
  justify-content: center;
  margin: auto 0;
}

.nav-items {
  display: flex;
  justify-content: center;
  margin: auto 0px;
  list-style-type: none;
  gap: 1rem;
}

.nav-list {
  padding: 10px 15px;
  border-radius: 4px;
  box-shadow: 0px 0px 5px 0.1px #222;
  transition: all 0.3s ease;
}

.nav-list:hover {
  background-color: #d900ff;
}

.nav-list:hover .nav-link {
  color: #000;
}

.nav-link {
  font-size: 1rem;
  text-decoration: none;
  color: #ffd;
}

@media only screen and (max-width: 768px) {
  nav {
    flex-direction: column;
  }
  .logo {
    border-bottom: none;
  }
}
@media only screen and (max-width: 462px) {
  .nav-items {
    flex-direction: column;
  }
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  animation: BgColor 30s ease infinite;
  margin: 4px;
  border-radius: 10px;
}

@keyframes BgColor {
  0% {
    background: linear-gradient(45deg, #ff00c8, #005eff);
  }
  20% {
    background: linear-gradient(45deg, #d900ff, #ff0062);
  }
  40% {
    background: linear-gradient(45deg, #d900ff, #005eff);
  }
  60% {
    background: linear-gradient(45deg, #ff00c8, #005eff);
  }
  80% {
    background: linear-gradient(45deg, #d900ff, #ff0062);
  }
  100% {
    background: linear-gradient(45deg, #ff00c8, #005eff);
  }
}
.wrapper {
  width: 605px;
  background-color: #fff;
  border-radius: 15px;
  padding: 30px 30px 25px;
  box-shadow: 0px 0px 10px 0.1px #222;
}

header {
  font-size: 2.9rem;
  font-weight: 600;
  text-align: center;
}

.content {
  margin: 35px 0;
}

.qoute-area {
  display: flex;
  justify-content: center;
}

.qoute-area i {
  font-size: 0.9rem;
}

.qoute-area i:first-child {
  margin: 3px 10px 0 0;
}

.qoute-area i:last-child {
  display: flex;
  align-items: flex-end;
  margin: 0 0 3px 10px;
}

.qoute {
  font-size: 1.3rem;
  text-align: center;
  word-break: break-all;
}

.author {
  display: flex;
  font-size: 1rem;
  font-style: italic;
  justify-content: flex-end;
  margin: 20px;
}

.author span:first-child {
  margin: 0px 5px 0 0;
  font-family: monospace;
}

.wrapper .buttons {
  border-top: 1px solid #ccc;
}

.features {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.features ul {
  display: flex;
}

.features ul li {
  list-style: none;
  margin: 0px 5px;
  height: 47px;
  width: 47px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #5612f0;
  border: 2px solid #5612f0;
  cursor: pointer;
  transition: all 0.3s ease;
}

.features ul li:hover {
  color: #fff;
  background-color: #5612f0;
}

.features button {
  border: none;
  outline: none;
  background-color: #5612f0;
  padding: 13px 22px;
  border-radius: 30px;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
}

button.loading {
  opacity: 0.7;
  pointer-events: none;
}

@media only screen and (max-width: 768px) {
  .container {
    border-radius: 8px;
  }
  .wrapper {
    width: 300px;
    background-color: transparent;
  }
  header {
    font-size: 1rem;
  }
  .features ul li {
    height: 30px;
    width: 30px;
  }
  .features button {
    padding: 6px 8px;
    border-radius: 25px;
    font-size: 16px;
  }
  button.loading {
    padding: 6px 8px;
    border-radius: 25px;
    font-size: 16px;
  }
}
@media only screen and (max-width: 350px) {
  .wrapper {
    padding: 10px 10px 15px;
    width: 250px;
  }
}
#footer {
  display: flex;
  justify-content: start;
  padding: 10px 15px;
  gap: 2rem;
  background-color: #005eff;
  border-radius: 10px;
  margin: 4px;
  flex-wrap: wrap;
}

.footer-a {
  padding: 10px 20px;
  box-shadow: 0px 0px 8px 0.1px #222;
  border-radius: 8px;
}

.footer-navs {
  list-style-type: none;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}

.footer-list {
  padding: 5px 5px;
  border-radius: 8px;
}

.footer-list:hover {
  background-color: #5612f0;
}

.footer-nav-link {
  text-decoration: none;
  color: #fff;
}

.fa-instagram {
  font-size: 1.5rem;
  background: linear-gradient(45deg, #ff00c8, #4187ff);
  -webkit-background-clip: text;
  color: transparent;
  margin-right: 0.5rem;
}

.fa-facebook-f {
  font-size: 1.5rem;
  color: #94bbff;
  margin-right: 0.5rem;
}

.fa-github {
  font-size: 1.5rem;
  color: #0b0b0b;
  margin-right: 0.5rem;
}

.fa-telegram {
  font-size: 1.5rem;
  color: #94bbff;
  margin-right: 0.5rem;
}

@media only screen and (max-width: 600px) {
  #footer {
    display: block;
  }
  .footer-a {
    margin: 10px;
  }
}
#head-cc {
  display: flex;
  justify-content: center;
  margin: auto;
  align-items: center;
  margin: 10px 0;
  gap: 0.5rem;
}

.fa-pen-nib {
  font-size: 1.5rem;
  color: brown;
}

.cc-container {
  display: flex;
  justify-content: start;
  margin: 4px;
  margin-right: 4px;
  border-radius: 4px;
  gap: 0.5rem;
  background-color: #c1c1c1;
  padding: 20px;
}

.text-cc {
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
}

.author-cc {
  font-style: italic;
  font-family: monospace;
}

@media only screen and (max-width: 600px) {
  .cc-container {
    flex-direction: column;
  }
}/*# sourceMappingURL=main.css.map */